
@{
    ViewData["Title"] = "BlankPage";
    Layout = "~/Views/Shared/__LayoutWms.cshtml";
}



 <p>
     @*   @Html.ActionLink(" ", "Upload_arquivos", "Pedidos", new { Msg = @ViewBag.msg  }, null)   *@ 
    </p>

