@{
    ViewBag.Title = "Wms - Entrada de Notas Fiscais";

    ViewBag.NomeTela = "Importação de XML Cross-docking";

    Layout = "~/Views/Shared/__LayoutWms.cshtml";
}

<section> 
 
    <div class="form-horizontal">
      <div class="col-sm-12">

            <form id="mydz" action="/Cdoca/UploadXmlRecebidos"  method="post"  class="dropzone">
     
                    <div class="fallback">
                       
                            <input type="file" value="file" multiple />
                            <input type="submit" value="Upload" />
                     </div>


                
            </form>
        </div>
    </div>

</section>




@section MeusScripts{
    @*//File Upload response from the server*@

<script>

    Dropzone.options.mydz = {

        init: function () {
            this.on("complete", function (data) {


                $.get('@Url.Action("Retorna_Notificacao", "Pedidos")',); {}, function () {
                    $('.dz-preview').remove();
                }
              
            });

            this.on("addedfile", function (data) {


               //  location.reload();
                  // if ($('#chkb').is(":checked")) {
                     //   alert("CheckBox ativo");
                   // }
                  //  else  {
                 //       alert("CheckBox inativo");
                 //   }
        //    alert("Entrou");

          //          $('.switch').bootstrapSwitch('state', true);
         //          $('.switch').on('switchChange.bootstrapSwitch', function (event, state) {

          //              alert(this);
          //              alert(event);
          //              alert(state);
         //               event.preventDefault();});

            });
        },
          dictDefaultMessage: "Arraste o arquivo aqui ou Clique na Área para Importar"
    };


</script>
}
